<mat-card-content class="container">
  <mat-card class="card-login">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Bem vindo de volta,</mat-card-title>
      <mat-card-subtitle class="card-subtitle">Faça login na sua conta abaixo.</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="form">
      <mat-card-content class="content-login">
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. perukas@example.com">
          <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
            Por favor informe um email válido
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
            Email é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password">
          <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Senha é
            <strong>obrigatória</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </form>
    <mat-card-actions class="card-actions">
      <button align="start" mat-button (click)="signUp()">Sem conta? Inscreva-se agora</button>
      <button align="end" mat-raised-button extended color="primary" class="full" (click)="login()">Entrar</button>
    </mat-card-actions>
  </mat-card>
</mat-card-content>
